@section title{
    Dylan Maps
}
@section scripts{
    @*@Html.Partial("DefineAngular")*@
    @*<script> System.import('app/boottodolist');</script>*@
}

<html lang="en">
<head>
    <title>OpenLayers 3 example</title>
</head>
<body>
    <div id="map" class="map">
        @*<div id="yearSlider">
            <div id="custom-handle" class="ui-slider-handle"></div>
        </div>*@
        <div class="slider-container">
            <input  type="text"
                    id="yearSlider"
                    name="Year Slider"
                    data-provide="slider"
                    data-slider-ticks="[1996, 1998, 2000, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]"
                    ticks_positions="[1996, 1998, 2000, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]"
                    @*data-slider-ticks-labels='["1996, 1998, 2000, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015"]'*@
                    data-slider-min="1996"
                    data-slider-max="2015"
                    data-slider-step="1"
                    data-slider-value="3" />
        </div>
        @*<input id="yearSlider" type="text" data-slider-ticks="[0, 1, 2, 3, 4]" data-slider-step="0.01" data-slider-ticks-snap-bounds="200" data-slider-ticks-tooltip="true" ticks_positions="[0, 30, 60, 70, 90, 100]" />*@
        @*<input type="hidden" id="mapYears" value="1996, 1998, 2000, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015"/>*@
    </div>
</body>
</html>